/*--- Harlan Bowling's Wordpress Reset  ---*/
/*--- Version: 4.0 - 5.25.18 ---*/


/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {  margin: 0;  padding: 0; border: 0;  font-size: 100%;  font: inherit;  vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {  display: block;}body {  line-height: 1;}ol, ul {  list-style: none;}blockquote, q { quotes: none;}blockquote:before, blockquote:after,q:before, q:after { content: '';  content: none;}table {  border-collapse: collapse;  border-spacing: 0;}

/*

Fonts
Lato - 300, 700
Libre Baskerville - 400, 700

*/


$white: #ffffff;
$offwhite: #f5f5f5;
$grey: #484848;
$black: #000000;
$red: #a11d21;
$green: #1b5c2e;

$headlinestack: 700 1em/1.5 'Lora', serif;
$primarystack: 400 1em/1.5 'Lora', serif;


@mixin transition { -moz-transition: all 0.5s ease 0s; -webkit-transition: all 0.5s ease 0s; -o-transition: all 0.5s ease 0s; transition: all 0.5s ease 0s; }
%button { cursor:pointer; display:inline-block; margin:0; padding:20px 36px; font: $primarystack; text-transform:uppercase; font-size:1em; color:$white; background:$red; text-align: center; border-radius:500px; }
%input { font: $primarystack; width:100%; padding:12px; border:none; box-sizing: border-box; background:$offwhite; color:$grey; @include transition; margin-bottom:12px; }




/*------------------------------------------------------------------------------*/
/*--------------------------RESPONSIVE SCAFFOLDING------------------------------*/
/*------------------------------------------------------------------------------*/

/*---- 

  UPDATED 5.25.18 - Version 2.0 Now runs mobile first.
  
  Responsive scaffolding allows a developer to toggle the visibility of elements
  based on four media queries through the use of simple visible/hidden classes. 
  For questions on this snippet, email Harlan Bowling at harlan@paradigmcreative.com.
  
----*/

/* Mobile First! */

.hidden, .hidden-mobile, .hidden-portraitanddown, .visible-desktop, .visible-tablet, .visible-portrait, .visible-tabletandup { display: none; }

/* Portrait Tablets */
@media (min-width: 550px) {
  .hidden-mobile, .visible-portrait { display:block; }
  .hidden-portrait, .visible-mobile { display: none; }
}

/* Landscape Tablet */
@media (min-width: 850px) {
  .hidden-portrait, .hidden-portraitanddown, .visible-tablet, .visible-tabletandup { display:block; }
  .hidden-tablet, .visible-portrait, .visible-portraitanddown { display: none; }
}

/* Desktop */
@media (min-width: 1024px) {
  .hidden-tablet, .visible-desktop { display:block; }
  .hidden-desktop, .visible-tablet { display:none; }
}



/*------------------------------------------------*/
/*-----------------[WP Reset]---------------------*/
/*------------------------------------------------*/

html, body { width:100%; height:100%; }

input, textarea, button { border-color: #aaa #ddd #ddd #aaa; border-style: solid; border-width: 1px; color: #000000; font-size: 14px; }
input, textarea, button { font-family: Cambria, Georgia, "Times New Roman", Times, serif; padding: 3px; }
button { font: 12px; padding: 2px 10px; cursor: pointer; }
input:focus, textarea:focus, button:hover { border-color: #777 #ccc #ccc #777; }

/* bugfix */
.safari input { padding: 0px 3px; }
.chrome input { padding: 1px 3px; }

.clearfix { clear:both; }
.spacing { clear:both; height:40px; }
hr { margin:40px 0; clear:both; border-top:2px solid #000; width:100%; }

.alignleft { float:left; margin:6px 20px 20px 0; }
.alignright { float:right; margin:6px 0 20px 20px; }
.aligncenter { text-align:center; margin:18px auto; }
.round, .circle { border-radius: 10000px; }

em, i { font-style:italic; }
strong, b { font-weight:700; }
.largertext, .larger { font-size:1.5em; line-height:1; }
.smallertext, .smaller, small { font-size:0.8em; line-height: 1; }
.textleft { text-align: left; }
.textcenter { text-align: center; }
.textright { text-align: right; }

#wpstats { display:none; }
.wp-caption { max-width: 100%; }

.transition { @include transition; }

img { max-width:100%; height:auto; }
iframe { width:100%; height:auto; margin:0 auto 20px; }

.ms-sizer, .ms-item { width: 23.5%; }
.ms-item { margin-bottom:18px; }
.ms-item--width2 { width: 48.5%; }
.ms-item--width3 { width: 73.5%; }

.sticky { position:fixed; top:0; width:100%; z-index:9999; }
.sticky + .stickypad { padding-top: 45px; }

/* Common Blog Post Navigation */
.postnavigation { 
  width:100%; margin:80px 0; text-align:center;
  
  ul { margin:0 !important; padding:0; }
  li { display: inline; }
  li a, li a:hover, li.active a, li.disabled { color: #fff; font:$primarystack; text-transform:uppercase; text-decoration:none; background-color: #000; border-radius: 3px; margin:0 4px; cursor: pointer; padding: 0.75rem 1.25rem; @include transition }
  li a:hover, li.active a { background-color:red; }
  }

.alert { color:red; font-weight:bold; font-size:1.5em; }

.mask { position:absolute; z-index:1; background:rgba(0,0,0,0.5); top:0; left:0; width:100%; height:100%; }

section.content { 

  ul, ol { margin:0 0 40px 30px; }
  ol ul { margin:5px 0 5px 30px; }
  ul li, ol ul li { list-style-type: none; margin:0 0 5px; }
  ul li:before { content:'+'; display:inline-block; margin-right:10px; color:$red; }
  ol li { list-style-type: decimal; margin:0 0 5px; }
  }

.fancybox-bg { background:#000; }
.fancybox-button { background:rgba(245,245,245,0.9); background-clip:content-box; }
.fancybox-button:hover { color:black; }






/* Small Desktop */
@media (max-width: 1024px) {



}

/* Portrait Tablet and Lower */
@media (max-width: 769px) {


}

/* Phone */
@media (max-width: 481px) {


}

